.products {
  display: grid;
  margin: 0% auto;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px 10px;
  align-items: start;
  border-bottom: 1px solid transparent;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .products {
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: 100%;
  }
}

.product {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.product__image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .product__image {
    width: 400px;
    height: 200px;
  }
}

.product__image:hover {
  opacity: 90%;
}

@media screen and (max-width: 768px) {
  .product__image {
    pointer-events: none;
    height: 500px;
  }
}

.product__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 900;
  line-height: 121%;
  color: black;
  margin: 2% 6% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .product__title {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .product__title {
    font-size: 20px;
    margin-left: 10%;
  }
}

.product__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-size: 8px;
  line-height: 121%;
  color: rgba(0, 0, 0, 0.6);
  height: 5%;
  margin: 2% 6% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .product__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .product__subtitle {
    font-size: 16px;
    margin-left: 10%;
  }
}

.product__price {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 121%;
  color: black;
  margin: 2% 6%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  border: 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .product__price {
    font-size: 16px;
    margin-left: 10%;
  }
}

.product__buttons {
  position: relative;
  padding: 2% 0%;
  background-color: rgb(0, 0, 0, 0.05);
  opacity: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product__buttons:hover {
  opacity: 90%;
}

.product__like {
  border: none;
  background: url(../../images/wHeart.svg) center no-repeat;
  width: 10%;
  /*opacity: 70%;*/
  transition: 0.5s;
}

.product__like:hover {
  opacity: 100%;
  transform: scale(1.5);
}

.product__like_active {
  opacity: 1;
  background: url(../../images/Black-heart.png) center no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .product__like {
    background-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  .product__like {
    background-size: 45%;
  }
}

.product__cart {
  border: none;
  background: url(../../images/empty_shop_cart.svg) center no-repeat;
  width: 14%;
  transition: 0.5s;
}

.product__cart:hover {
  opacity: 100%;
  transform: scale(1.5);
}

.product__cart_active {
  opacity: 1;
  background: url(../../images/full_shop_cart.svg) center no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .product__cart {
    background-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  .product__cart {
    background-size: 45%;
  }
}

.products__not-found {
  grid-column: 1 / 4; /* Ocupa desde la columna 1 hasta la 3 */
  grid-row: 1;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: red;
  margin: 0 auto;
  padding: 10% 0;
}

.products__add-button {
  margin: 2% 40.5%;
  width: 20%;
  background-color: blue;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.products__add-button:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: blue;
  border-radius: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 15% auto;

  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
