.checkout {
  background-color: white;
  width: 69%;
  margin: 0 auto;
  border-top: 1px solid transparent;
}

@media screen and (min-width: 1px) and (max-width: 1280px) {
  .checkout {
    width: 100%;
  }
}

.checkout__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% 2% 2% 2%;
}
.checkout__container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.checkout__container-title {
  font-size: 20px;
  font-weight: 500;
  margin: 5% auto 5% 5%;
}

.checkout__container-label {
  font-size: 16px;
  font-weight: 400;
  margin: 2% auto 1% 5%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.checkout__container-input {
  width: 87.5%;
  margin: 0% auto 2% 5%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.checkout__container-grid {
  width: 93.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;
  margin: 2% auto 2% 2.5%;
}

.checkout__container-radio {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
.delivery-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 0;
  padding: 3%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.delivery-option__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% 0;
}

.payment-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0% 0;
  width: 27%;
}
