.header {
  width: 69%;
  margin: 2% auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 97%;
    margin: 0 auto;
  }
}
.header__logo {
  margin: 1% 0;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.header__logo:hover {
  opacity: 50%;
}
/*
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header__logo {
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
  }
}

*/

.header__container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__email {
  font-family: "inter", sans-serif, Arial;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.header__email:hover {
  color: blue;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header__email {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .header__email {
    font-size: 15px;
  }
}

.header__close {
  color: #a9a9a9;
  font-size: 20px;
  line-height: 125%;
  font-family: "inter", Arial, sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__close:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .header__close {
    margin: 5% auto;
    font-size: 16px;
  }
}
