.navigation {
  width: 69%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navigation__pes {
  font-family: "Inter", sans-serif, "Arial";
  font-size: 18px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  align-items: center;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-radius 0.3s ease, padding 0.3s ease;
  padding: 10px 10px;
  border-radius: 50px;
  box-sizing: border-box;
}

.navigation__pes:hover {
  color: black;
  background-color: white;
  border-radius: 50px;
  padding: 10px 10px;
}

.navigation__heart {
  width: 100%;
  transition: opacity 0.3s ease;
}

.navigation__heart:hover {
  opacity: 50%;
}
