.navigation {
  margin: 2% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.navigation__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation__pes {
  font-family: "Inter", sans-serif, "Arial";
  font-size: 18px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  align-items: center;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-radius 0.3s ease, padding 0.3s ease;
  padding: 10px 10px;
  border-radius: 50px;
  box-sizing: border-box;
  white-space: nowrap;
}

.navigation__pes:hover {
  color: black;
  background-color: white;
  border-radius: 50px;
  padding: 10px 10px;
}

.navigation__icon {
  margin: 0;
}

.navigation__icon:hover {
  opacity: 70%;
}

.navigation__count {
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.navigation__search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__search-bar form {
  display: flex;
  align-items: center;
}

.navigation__search-bar input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.navigation__search-bar button {
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navigation__search-bar button {
    margin-left: 10%;
  }
}

.navigation__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-column: 1 /3;
}
